<%
=begin%>
 <%= provide(:title, @category.name) %> 
<%
=end%>
<div class="row">
  <aside class="col-md-4">
    <section class="category_info">
      <h1>
        <%= @category.name %>
      </h1>
        <%= button_to 'edit', edit_category_path(@category), method: :get %>
    </section>
  </aside>
  <%
=begin%>
 <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div> 
<%
=end%>
</div>