<%= provide(:title, @category.name) %>
<%= provide(:button_text, "Post") %>
<div class="row">
  <section class="category_info">
    <h1>
      <%= @category.name %>
    </h1>
  </section>
  <div>
    <% if @category.messages.any? %>
      <h3>Messages (<%= @messages.count %>)</h3>
      <ol class="list-group">
        <%= render :partial => "layouts/message", :collection => @messages %>
      </ol>
      <%= will_paginate @messages %>
    <% end %>
  </div>

  <section>
    <h3>Post Message:</h3>
    <% if logged_in? %>
      <%= render :partial => "messages/form", locals: {category_id: @category.id, user_id: current_user.id} %>
    <% else %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          You need to log in to post.
        <%= link_to "Log in", login_path %>
        </div>
      </div>
    <% end %>
  </section>
</div>