<li>
  <%= message.subject %>
  <%= message.text %>
  <%= message.created_at %>
  <%= message.name %>
  <%= message.visibility %>
  <%= message.category.id %>
  <% if current_user == message.user %>
  | <%= link_to message.visibility ? "非表示にする" : "表示する", message, method: :patch, data: { confirm: "表示を変更しますか?" } %>
  <% end %> 
</li>
